{% extends 'backend/adminbase.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load i18n %}
{% load mptt_tags %}
{% block body %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>{% translate 'Add Cases Type' %}</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a
                                    href="{% url  'core:AdminIndex' %}">{% translate 'Home' %}</a></li>
                            <li class="breadcrumb-item active">{% translate 'Add Cases Type' %}</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <form class="needs-validation add-product-form" novalidate=""
                  enctype="multipart/form-data" action="{% url 'lawyer:AdminAddCasesType' %}"
                  method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">{% translate 'General' %}</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                            title="Collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="inputStatus">{% translate 'Cases Type' %}</label>
                                    <select name="name" id="inputStatus"
                                            class="form-control custom-select">
                                        <option selected
                                                disabled>{% translate 'Select one' %}</option>
                                        {% for value, text in form.name.field.choices %}
                                            <option value="{{ value }}">{{ text }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-12">
                            <a href="{% url 'lawyer:AdminCourtCircuit' %}"
                               class="btn btn-secondary">{% translate 'Cancel' %}</a>
                            <input type="submit" value="{% translate 'Add New Country' %}"
                                   class="btn btn-success float-right">
                        </div>
                    </div>
            </form>
            <br>
            <div>
                {% if form_show_errors %}
                {% endif %}
                {% if form.errors %}
                    {% for error_field, error_message in form.errors.items %}

                        <div class="alert alert-danger">
                            {{ error_field|striptags }}: {{ error_message|striptags }}
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}

                {% endif %}
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->




{% endblock %}
{% block foot %} {% include 'backend/footer.html' %}  {% endblock %}
{% block js %} {% include 'backend/js.html' %}  {% endblock %}