<div class="row check-out">
    <div class="form-group col-md-6 col-sm-6 col-xs-12">
        <div class="field-label">First Name</div>
        <input type="text" name="field-name" value="" placeholder="">
    </div>
    <div class="form-group col-md-6 col-sm-6 col-xs-12">
        <div class="field-label">Last Name</div>
        <input type="text" name="field-name" value="" placeholder="">
    </div>
    <div class="form-group col-md-6 col-sm-6 col-xs-12">
        <div class="field-label">Phone</div>
        <input type="text" name="field-name" value="" placeholder="">
    </div>
    <div class="form-group col-md-6 col-sm-6 col-xs-12">
        <div class="field-label">Email Address</div>
        <input type="text" name="field-name" value="" placeholder="">
    </div>
    <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <div class="field-label">Country</div>
        <select>
            <option>India</option>
            <option>South Africa</option>
            <option>United State</option>
            <option>Australia</option>
        </select>
    </div>
    <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <div class="field-label">Address</div>
        <input type="text" name="field-name" value="" placeholder="Street address">
    </div>
    <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <div class="field-label">Town/City</div>
        <input type="text" name="field-name" value="" placeholder="">
    </div>
    <div class="form-group col-md-12 col-sm-6 col-xs-12">
        <div class="field-label">State / County</div>
        <input type="text" name="field-name" value="" placeholder="">
    </div>
    <div class="form-group col-md-12 col-sm-6 col-xs-12">
        <div class="field-label">Postal Code</div>
        <input type="text" name="field-name" value="" placeholder="">
    </div>
    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <input type="checkbox" name="shipping-option" id="account-option"> &ensp;
        <label for="account-option">Create An Account?</label>
    </div>
</div>