{% extends 'front/homebase.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load i18n %}
{% block body %}
    <!-- breadcrumb start -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title">
                        <h2>{% trans 'create account' %}</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home:index' %}">{% translate 'Home' %}</a></li>
                            /
                            <li class="breadcrumb-item active" aria-current="page">{% trans 'create account' %}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb End -->


    <!--section start-->
    <section class="register-page section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>{% trans 'create account' %}</h3>
                    <div class="theme-card">
                        <form class="theme-form" action="{% url 'user:CustomerRegister' %}" method="post">
                            {% csrf_token %}
                            <div class="form-row row">
                                <div>
                                    {% if form.errors %}

                                        {% for error_field, error_message in form.errors.items %}

                                            <div class="alert alert-danger">
                                                {{ error_field|striptags }}: {{ error_message|striptags }}
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}

                                    {% endif %}</div>
                                <div class="col-md-6">
                                    <label for="email">{% trans 'First Name' %}</label>
                                    <input type="text" name="first_name" class="form-control" id="fname"
                                           placeholder="{% trans 'first name' %}"
                                           required="">
                                </div>
                                <div class="col-md-6">
                                    <label for="review">Last Name</label>
                                    <input type="text" name='last_name' class="form-control" id="lname"
                                           placeholder="{% trans 'last name' %}"
                                           required="">
                                </div>
                            </div>
                            <div class="form-row row">
                                <div class="col-md-6">
                                    <label for="email">{% trans 'Email' %}</label>
                                    <input type="text" name="email" class="form-control" id="email"
                                           placeholder="{% trans 'email' %}" required="">
                                </div>
                                <div class="col-md-6">
                                    <label for="review">{% trans 'Mobile Number' %}</label>
                                    <input type="number" name='phone' class="form-control" id="review"
                                           placeholder="{% trans 'mobile' %}" required="">

                                </div>
                                <div class="form-row row">
                                    <div class="col-md-6">
                                        <label for="email">{% trans 'Password' %}</label>
                                        <input type="password" name="password1" class="form-control" id="email"
                                               placeholder="{% trans 'password' %}" required="">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="review">{% trans 'Password Confirm' %}</label>
                                        <input type="password" name='password2' class="form-control" id="review"
                                               placeholder="{% trans 'confirm password' %}" required="">
                                        <div class="col-md-6">


                                        </div>
                                        <input type="submit" value="{% trans 'create Account' %}" class="btn btn-solid">
                                    </div>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Section ends-->



{% endblock %}







{% block foot %} {% include 'front/footer.html' %}  {% endblock %}
{% block js %} {% include 'front/js.html' %}  {% endblock %}
