{% extends 'front/homebase.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load i18n %}

{% block body %}




    <form class="needs-validation" id="myform" enctype="multipart/form-data"
          action="{% url 'user:CreateAddress' user.slug %}"
          method="post">
        <div class="container">
            {% csrf_token %}
            <!-- personal deatail section start -->
            <section class="contact-page register-page">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Address DETAIL</h3>
                            <div class="error-message">
                                {% if messages %}
                                    <ul class="messages">
                                        {% for message in messages %}
                                            <li {% if message.tags %}
                                                class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                {% if forms.errors %}
                                    {% for error_field, error_message in forms.errors.items %}
                                        <div class="alert alert-danger">
                                            {{ error_field|striptags }}: {{ error_message|striptags }}
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}

                                {% endif %}
                            </div>

                            <div class="form-row row">
                                <div class="col-md-6">
                                    <label for="name">First Name</label>
                                    <input type="text" class="form-control" placeholder="Enter Your name"
                                           name="first_name" value="{{ user_address.first_name }}" required="">
                                </div>
                                <div class="col-md-6">
                                    <label for="name">Last Name</label>
                                    <input type="text" class="form-control" placeholder="Enter Your name"
                                           name="last_name" value="{{ user.last_name }}" required="">
                                </div>
                                <div class="col-md-6">
                                    <label for="email">governorate</label>
                                    <input type="text" class="form-control" id="last-name" name="governorate"
                                           value="{{ user.email }}" placeholder="Email" required="">
                                </div>
                                <div class="col-md-6">
                                    <label for="review">city</label>
                                    <input type="text" class="form-control" id="review" name="city"
                                           value="" placeholder="Enter your number"
                                           required="">
                                </div>

                                <div class="col-md-6">
                                    <label for="review">area</label>
                                    <input type="text" class="form-control" id="review" name="area"
                                           value="" placeholder="Enter your number"
                                           required="">
                                </div>
                                <div class="col-md-6">
                                    <label for="review">street name</label>
                                    <input type="text" class="form-control" id="review" name="street_name"
                                           value="" placeholder="Enter your number"
                                           required="">
                                </div>
                                <div class="col-md-6">
                                    <label for="review">location type</label>
                                    <select type="text" class="form-control" id="review" name="location_type"

                                            required="">
                                        {% for value, text in forms.location_type.field.choices %}
                                            <option value="{{ value }}"><img
                                                    src="{{ value }}"/>{{ text }}
                                            </option>


                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label for="review">phone</label>
                                    <input type="text" class="form-control" id="review" name="phone"
                                           value="" placeholder="Enter your number"
                                           required="">
                                </div>
                                <div class="col-md-6">
                                    <label for="review">Shipping Detail Name</label>
                                    <input type="text" class="form-control" id="review" name="address_title"
                                           value="" placeholder="Enter your number"
                                           required="">
                                </div>
                                <div class="col-md-6">
                                    <label for="review">Shipping note</label>

                                    <input type="text" class="form-control" id="review" name="shipping_note"
                                           value="" placeholder="Enter your number"
                                           required="">
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!-- Section ends -->


            <!-- address section start -->
            <section class="contact-page register-page section-b-space">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Extra Information</h3>

                            <div class="form-row row">

                                <div class="col-md-6">
                                    <label for="name">building name</label>
                                    <input type="text" class="form-control" name="building_name"
                                           value="{{ user.facebook }}"
                                           placeholder="facebook">

                                </div>
                                <div class="col-md-6">
                                    <label for="name">floor no</label>
                                    <input type="text" class="form-control" name="floor_no" value="{{ user.instagram }}"
                                           placeholder="instagram"
                                    >
                                </div>
                                <div class="col-md-6">
                                    <label for="name">apartment no</label>
                                    <input type="text" class="form-control" name="apartment_no"
                                           value="{{ user.twitter }}"
                                           placeholder="twitter"
                                    >
                                </div>
                                <div class="col-md-6">
                                    <label for="name">postal code</label>
                                    <input type="text" class="form-control" name="postal_code"
                                           value="{{ user.youtube }}"
                                           placeholder="youtube"
                                    >
                                </div>


                            </div>

                        </div>


                    </div>

                </div>
            </section>
            <div class="form-group mb-0">
                <div class="product-buttons text-center">
                    <button type="submit" class="btn btn-sm btn-solid">{% translate 'Save Address' %}</button>
                    <button type="button" href=""
                            class="btn btn-light">{% translate 'Discard' %}</button>
                </div>
            </div>


        </div>


        <!-- Section ends -->

    </form>



{% endblock %}

{% block custom_js %}
    <script src="//cdn.tiny.cloud/1/u6oa5pnpaa1vxho1md7uk4zmq2ai7xuf5o5wfgyrc131vpj6/tinymce/5/tinymce.min.js"
            referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: "textarea#long_desc",
            height: 300,
            plugins: [
                "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
                "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime nonbreaking",
                "save table contextmenu directionality emoticons template paste textcolor",
            ],
            images_upload_url: "{% url 'core:file_upload' %}",
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | l      ink image | print preview media fullpage | forecolor backcolor emoticons",
            style_formats: [
                {title: "Bold text", inline: "b"},
                {title: "Red text", inline: "span", styles: {color: "#ff0000"}},
                {title: "Red header", block: "h1", styles: {color: "#ff0000"}},
                {title: "Example 1", inline: "span", classes: "example1"},
                {title: "Example 2", inline: "span", classes: "example2"},
                {title: "Table styles"},
                {title: "Table row 1", selector: "tr", classes: "tablerow1"},
            ],
            automatic_uploads: true,
            file_picker_types: 'image',
            file_picker_callback: function (cb, value, meta) {
                var input = document.createElement('input');
                input.setAttribute('type', 'file');
                input.setAttribute('accept', 'image/*');

                /*
                Note: In modern browsers input[type="file"] is functional without
                even adding it to the DOM, but that might not be the case in some older
                or quirky browsers like IE, so you might want to add it to the DOM
                just in case, and visually hide it. And do not forget do remove it
                once you do not need it anymore.
                */

                input.onchange = function () {
                    var file = this.files[0];

                    var reader = new FileReader();
                    reader.onload = function () {
                        /*
                        Note: Now we need to register the blob in TinyMCEs image blob
                        registry. In the next release this part hopefully won't be
                        necessary, as we are looking to handle it internally.
                        */
                        var id = 'blobid' + (new Date()).getTime();
                        var blobCache = tinymce.activeEditor.editorUpload.blobCache;
                        var base64 = reader.result.split(',')[1];
                        var blobInfo = blobCache.create(id, file, base64);
                        blobCache.add(blobInfo);

                        /* call the callback and populate the Title field with the file name */
                        cb(blobInfo.blobUri(), {title: file.name});
                    };
                    reader.readAsDataURL(file);
                };

                input.click();
            },
        });
    </script>
    <script>
        $(".add_media").click(function () {
            var media_row = $(".first_media").clone();
            media_row.removeClass("first_media");
            media_row.replaceAll("src", "")
            media_row.find(".select_media").val("");
            media_row.find(".img_preview").attr("src", "").css({"border": "none"}).css({"border-radius": "0px"}).hide();
            media_row.find(".video_preview").attr("src", "").css({"border": "none"}).css({"border-radius": "0px"}).hide();
            $(".media_div").append(media_row);
        });
        $(".remove_media").click(function () {
            if ($(".media_div").find(".media_div_row").length > 1) {
                $(".media_div").children().last().remove();
            }
        });

        $(".add_details").click(function () {
            var details_row = $(".first_details").clone();
            details_row.removeClass("first_details");
            details_row.find(".title_title").val("");
            details_row.find(".title_details").val("");
            $(".details_div").append(details_row);
        });
        $(".remove_details").click(function () {
            if ($(".details_div").find(".details_div_row").length > 1) {
                $(".details_div").children().last().remove();
            }
        });

        $(".add_about").click(function () {
            var about_row = $(".first_about").clone();
            about_row.removeClass("first_about");
            about_row.find(".about_title").val("");
            $(".about_div").append(about_row);
        });
        $(".remove_about").click(function () {
            if ($(".about_div").find(".about_div_row").length > 1) {
                $(".about_div").children().last().remove();
            }
        });

        $(document).on("change", ".select_media", function () {
            var media_type = $(this).parents(".media_div_row").find(".media_type").val();
            var img_preview = $(this).parents(".media_div_row").find(".img_preview");
            var vid_preview = $(this).parents(".media_div_row").find(".video_preview");
            showPreviewMedia(this, media_type, img_preview, vid_preview);
        });

        function showPreviewMedia(input, media_type, img_preview, video_preview) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    if (media_type == "1") {
                        img_preview.attr("src", e.target.result);
                        img_preview.show();
                        img_preview.css({"border": "5px solid orange"});
                        img_preview.css({"border-radius": "10px"});
                    }
                    if (media_type == "2") {
                        video_preview.show();
                        video_preview.css({"border": "5px solid orange"});
                        video_preview.css({"border-radius": "10px"});
                        video_preview.attr("src", e.target.result);
                        video_preview.load();
                        video_preview.play();

                    }
                }
                reader.readAsDataURL(input.files[0]);
            }
        }


    </script>
    <script src="//bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>



{% endblock custom_js %}


{% block foot %} {% include 'front/footer.html' %}  {% endblock %}
{% block js %} {% include 'front/js.html' %}  {% endblock %}