{% extends 'frontend/homebase.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}
{% load i18n %}

{% block body %}
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    {% endif %}
</ul>

    <section class="sec-block">
     <br><br> <br><br>
        <div class="fixed-bg light-bg"></div>
        <div class="ervices_section contact-v">
            <div class="container">
                <div class="row ">
                    <h2>{% translate 'Amazing' %}</h2>
                    <p style="color:#f4a425;">{% translate 'Your Account Activate successfully' %}</p>
                    <p class="font-weight-bold">{% translate "You Can Login And enjoy With Our Deal's created especially For You" %}</p>
                    <a href="{% url 'user:CustomerLogin' %}">{% translate ' Go to Login' %}</a>

                </div>
            </div>
            <br><br>
        </div>
        <div class="services_section contact-v">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="service_col">
                            <div class="svs-icon">
                                <img src="{% static '' %}assets/images/oct1.png" alt="">
                            </div>
                            <h3>Our address</h3>
                            <p>Envato Pty Ltd 13/2 Elizabeth St melbourne VLC 3000 Australia</p>
                        </div><!--service_col end-->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="service_col">
                            <div class="svs-icon">
                                <img src="{% static '' %}assets/images/oct2.png" alt="">
                            </div>
                            <h3>Phone Number</h3>
                            <ul>
                                <li>Office: 1-800-763-5400</li>
                                <li>1-800-763-5400</li>
                            </ul>
                        </div><!--service_col end-->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="service_col">
                            <div class="svs-icon">
                                <img src="{% static '' %}assets/images/oct3.png" alt="">
                            </div>
                            <h3>Email Address</h3>
                            <ul>
                                <li>Info@octavian.io</li>
                                <li>support@octavian.io</li>
                            </ul>
                        </div><!--service_col end-->
                    </div>
                </div>
            </div>
        </div><!--services_section end-->
    </section>


{% endblock %}
{% block foot %} {% include 'frontend/footer.html' %}  {% endblock %}
{% block js %} {% include 'frontend/js.html' %}  {% endblock %}
