{% load static %}
{% load i18n %}


<section class="main-banner style6">
			<div class="fixed-bg banner-bg6"></div>
			<div class="container">
				<div class="banner-content">
					<div class="row">
						<div class="col-lg-6">
							<div class="banner-text2">
								<h2 class="wow fadeInUp" data-wow-duration="1000ms">Digit IMEI</h2>
								<h3 class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">Online Check IMEI State</h3>
								<div class="play-vidd wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="800ms">
									<a href="https://www.youtube.com/watch?v=6gUOzbhtVd4" class="html5lightbox" title=""><img src="{%  static '' %}assets/images/play.png" alt=""></a>
									<span>Play Video  -  2:52</span>
								</div>
							</div><!--banner-text end-->
						</div>
					</div>
				</div><!--banner-content end-->
			</div>
		</section><!--main-banner end-->

		<section class="sec-block pb-0">
			<div class="fixed-bg bg9"></div>
			<div class="container">
				<div class="services_section">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-sm-6 col-12">
							<div class="serivce_col wow slideInLeft" data-wow-duration="1000ms">
								<img src="{%  static '' %}assets/images/ion1.png" alt="">
								<h3>{% translate 'Add IMEI ' %}</h3>
								<p>{% translate 'add your own imei and  keep your phone safe from stolen ' %}.</p>
							</div><!--serivce_col end-->
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6 col-12">
							<div class="serivce_col wow slideInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
								<img src="{%  static '' %}assets/images/ion2.png" alt="">
								<h3>{% translate 'Need to Buy Used Phone !' %}</h3>
								<p>{% translate 'Need to Buy Used Phone Check IMEI First , and find condition if good or Stolen ! ' %}.</p>
							</div><!--serivce_col end-->
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6 col-12">
							<div class="serivce_col wow slideInRight" data-wow-duration="1000ms" data-wow-delay="600ms">
								<img src="{%  static '' %}assets/images/ion3.png" alt="">
								<h3>{% translate 'Verified Store' %}</h3>
								<p>{% translate 'now you can see all of verfied store to sell and buy your phone ,Keep your phone store clean  ' %}.</p>
							</div><!--serivce_col end-->
						</div>
					</div>
				</div><!--services_section end-->
			</div>
		</section>

		<section class="sec-block-200 pb-0">
			<div class="container">
				<div class="about-block4">
					<div class="row align-items-center">
						<div class="col-lg-5">
							<div class="abt-block4-text wow fadeInLeft" data-wow-duration="1000ms">
								<span>About us</span>
								<h2>Discover entire universes designed For Your Project</h2>
								<p>Phasellus pulvinar iaculis nunc at placerat. Sed porta sollicitudin eros, vel sagittis turpis consequat nec. Donec ac viverra ligula, in scelerisque leo. </p>
								<a href="about.html" title="" class="btn-default gradient-bg style2">Get Started<span></span></a>
							</div><!--abt-block4-text end-->
						</div>
						<div class="col-lg-7">
							<div class="abt-block4-img">
								<img src="https://via.placeholder.com/692x600" alt="">
							</div><!--abt-block4-img end-->
						</div>
					</div>
				</div><!--about-bloc4 end-->
			</div>
		</section>

		<section class="sec-block-200 pb-0">
			<div class="container">
				<div class="section-title style2 white text-center">
					<span>Work</span>
					<h2>Recently Created Universes</h2>
					<p>Phasellus pulvinar iaculis nunc at placerat. Sed porta sollicitudin eros, vel sagittis.</p>
				</div><!--section-title end-->
				<div class="gallery-section">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-12">
							<div class="gallery-div">
								<img src="https://via.placeholder.com/570x370" alt="">
							</div><!---gallery-div end-->
							<div class="gallery-div">
								<img src="https://via.placeholder.com/570x570" alt="">
							</div><!---gallery-div end-->
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-12">
							<div class="gallery-div">
								<img src="https://via.placeholder.com/570x570" alt="">
							</div><!---gallery-div end-->
							<div class="gallery-div">
								<img src="https://via.placeholder.com/570x370" alt="">
							</div><!---gallery-div end-->
						</div>
					</div>
					<div class="text-center full-bt style2">
						<a href="portfolio.html" title="" class="btn-default gradient-bg style2">All works<span></span></a>
					</div>
				</div><!--gallery-section end-->
			</div>
		</section>

		<section class="sec-block-200">
			<div class="container">
				<div class="twty-section">
					<div class="row">
						<div class="col-lg-6">
							<div class="twty-dv wow fadeInLeft" data-wow-duration="1000ms">
								<img src="{%  static '' %}assets/images/20_2.png" alt="">
							</div><!--20-text end-->
						</div>
						<div class="col-lg-6">
							<div class="twtry-text" data-aos="fade-up" data-aos-duration="1000">
								<span>Experience</span>
								<h2>Years of Creative Universes Performed</h2>
								<p>Integer eu metus at orci scelerisque rutrum. Vivamus condimentu ipsum vitae iaculis cursus.</p>
							</div><!--twtry-text end-->
						</div>
					</div>
				</div><!--20-section end-->
			</div>
		</section>

		<section class="sec-block-200 pt-0">
			<div class="container">
				<div class="sec-title text-center">
					<h4>Partner</h4>
				</div><!--sec-title end-->
				<div class="pt-three-section">
					<div class="row">
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="oct-partner">
								<img src="https://via.placeholder.com/170x65" alt="">
							</div><!--oct-partner end-->
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="oct-partner">
								<img src="https://via.placeholder.com/170x88" alt="">
							</div><!--oct-partner end-->
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="oct-partner">
								<img src="https://via.placeholder.com/83x80" alt="">
							</div><!--oct-partner end-->
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="oct-partner">
								<img src="https://via.placeholder.com/170x39" alt="">
							</div><!--oct-partner end-->
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="oct-partner">
								<img src="https://via.placeholder.com/167x60" alt="">
							</div><!--oct-partner end-->
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="oct-partner">
								<img src="https://via.placeholder.com/83x80" alt="">
							</div><!--oct-partner end-->
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="oct-partner">
								<img src="https://via.placeholder.com/83x80" alt="">
							</div><!--oct-partner end-->
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="oct-partner">
								<img src="https://via.placeholder.com/83x80" alt="">
							</div><!--oct-partner end-->
						</div>
					</div>
				</div><!--pt-three-section end-->
			</div>
		</section>

		<section class="sec-block pt-0">
			<div class="container">
				<div class="section-title style2 white text-center">
					<span>Testimonials</span>
					<h2>See our Customers’ Reviews</h2>
					<p>Phasellus pulvinar iaculis nunc at placerat. Sed porta sollicitudin eros, vel sagittis.</p>
				</div><!--section-title end-->
			</div>
			<div class="main-testimonial-slider">
				<div class="main-testi-slide">
					<p>Rump spare ribs tail <strong>pastrami ham hock turducken</strong> fatback salami ham hock tender login drumstick pork bel.</p>
					<div class="us-info">
						<img src="https://via.placeholder.com/80x80" alt="">
						<h3>Judie Lipsy</h3>
					</div>
				</div><!--main-testi-slide end-->
				<div class="main-testi-slide">
					<p>Rump spare ribs tail <strong>pastrami ham hock turducken</strong> fatback salami ham hock tender login drumstick pork bel.</p>
					<div class="us-info">
						<img src="https://via.placeholder.com/80x80" alt="">
						<h3>Judie Lipsy</h3>
					</div>
				</div><!--main-testi-slide end-->
				<div class="main-testi-slide">
					<p>Rump spare ribs tail <strong>pastrami ham hock turducken</strong> fatback salami ham hock tender login drumstick pork bel.</p>
					<div class="us-info">
						<img src="https://via.placeholder.com/80x80" alt="">
						<h3>Judie Lipsy</h3>
					</div>
				</div><!--main-testi-slide end-->
				<div class="main-testi-slide">
					<p>Rump spare ribs tail <strong>pastrami ham hock turducken</strong> fatback salami ham hock tender login drumstick pork bel.</p>
					<div class="us-info">
						<img src="https://via.placeholder.com/80x80" alt="">
						<h3>Judie Lipsy</h3>
					</div>
				</div><!--main-testi-slide end-->
				<div class="main-testi-slide">
					<p>Rump spare ribs tail <strong>pastrami ham hock turducken</strong> fatback salami ham hock tender login drumstick pork bel.</p>
					<div class="us-info">
						<img src="https://via.placeholder.com/80x80" alt="">
						<h3>Judie Lipsy</h3>
					</div>
				</div><!--main-testi-slide end-->
				<div class="main-testi-slide">
					<p>Rump spare ribs tail <strong>pastrami ham hock turducken</strong> fatback salami ham hock tender login drumstick pork bel.</p>
					<div class="us-info">
						<img src="https://via.placeholder.com/80x80" alt="">
						<h3>Judie Lipsy</h3>
					</div>
				</div><!--main-testi-slide end-->
			</div><!--main-testimonial-slider end-->
		</section>

		<section class="sec-block p-0">
			<div class="container">
				<div class="newsletter-section style3">
					<div class="newz-content text-center">
						<h2>Let's Get Started</h2>
						<p>Start using our easy-to-use tools with multiple options to improve.</p>
						<a href="contact.html" title="" class="btn-default gradient-bg">Let's start now<span></span></a>
					</div><!--newz-content end-->
				</div><!--newsletter-section end-->
			</div>
		</section>