{% load static %}
{% load i18n %}

<header class="style2">
    <div class="container">
        <div class="header-content">
            <div class="logo">
                <a href="{% url 'home:HomeIndex' %}" title="">
                    <img src="{% static '' %}assets/images/logo.png" alt="" class="hide-on-sticky">
                    <img src="{% static '' %}assets/images/logo5.png" alt="" class="visible-on-sticky">
                </a>
            </div><!--logo end-->
            <nav>
                <ul>

                    <li><a href="{% url 'home:CheckIMEIFront' %}" title="">{% translate 'Check IMEI' %}</a></li>
                    <li><a href="{% url 'home:AddIMEIFront' %}" title="">{% translate 'Add IMEI' %}</a></li>
                    <li><a href="{% url 'home:Blog' %}" title="">{% translate 'News' %}</a></li>
                    <li><a href="{% url 'user:LoginFireBase' %}" title="">{% translate 'firebase' %}</a></li>
                     <li style="color: azure">{% if user.is_authenticated %} {% if user.first_name %}{{ user.first_name }} &nbsp;&nbsp;
                      <a href="{% url 'user:CustomerLogout' %}" title="">{% translate 'Logout' %} </a>

                     {% endif %}

                        {% else %}
                       <a href="{% url 'user:CustomerLogin' %}" title="">{% translate 'Login' %}&nbsp;&nbsp;</a>
                    {% endif %}</li>

                </ul>
            </nav><!--navigation end-->
            <ul class="icons-list ml-auto">
                <li>
                    <a href="#" title="" class="search-btn">
                        <i class="flaticon-079-search"></i>
                    </a>
                </li>

                <li>
                    <a href="#" title="" class="menu-btn">
                        <i class="flaticon-044-menu"></i>
                    </a>
                </li>
            </ul><!--icons-list end-->
        </div><!--header-content end-->
    </div>
</header><!--header end-->

<div class="header-search d-flex flex-wrap justify-content-center align-items-center w-100">
    <span class="search-close-btn"><i class="fas fa-times"></i></span>
    <form>
        <input type="text" placeholder="Search">
    </form>
</div><!--header-search end-->

<div class="responsive-mobile-menu d-flex flex-wrap align-items-end">
    <a href="#" title="" class="close-menu">
        <img src="{% static '' %}assets/images/close.png" alt="">
    </a>
    <ul class="mb-menu">
        <li><a href="{% url 'home:HomeIndex' %}" title="">{% translate 'Home' %}</a>

        </li>
        <li><a href="{% url 'home:CheckIMEIFront' %}" title="">{% translate 'Check IMEI' %}</a></li>
        <li><a href="{% url 'home:AddIMEIFront' %}" title="">{% translate 'Add IMEI' %}</a></li>
        <li><a href="{% url 'home:Blog' %}" title="">{% translate 'News' %}</a> </li>
        <li><a href="{% url 'home:Contact' %}" title="">{% translate 'Contact' %}</a></li>
    </ul>
    <div class="clearfix"></div>
    <ul class="social-links">
        <li><a href="#" title=""><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#" title=""><i class="fab fa-twitter"></i></a></li>
        <li><a href="#" title=""><i class="fab fa-instagram"></i></a></li>
        <li><a href="#" title=""><i class="fab fa-dribbble"></i></a></li>
    </ul>

    <div class="rep-copyright">
         <br><hr>
       <p>Copyright © {% now 'Y' %} , Developed by <a href="http://digithup.com/en/" title="">DIgit Hup</a>  , Designed by <a href="https://puzzlestudioeg.com/" title="">Puzzle Studio</a> All Rights Reserved.</p>
    </div><!--rep-copyright end-->
</div><!--responsive-mobile-menu end-->