{% load static %}


<!-- Helper div for inserting before scripts
	================================================== -->
<div class="pa-body-end"></div>


<!-- Scripts / Body End
================================================== -->
<!-- Vendor Scripts -->

<script src="{% static '' %}assets/js/jquery.min.js"></script>
<script src="{% static '' %}assets/js/popper.js"></script>
<script src="{% static '' %}assets/js/bootstrap.min.js"></script>
<script src="{% static '' %}assets/js/plugin/slick.min.js"></script>
<script src="{% static '' %}assets/js/wow.min.js"></script>
<script src="{% static '' %}assets/js/script.js"></script>

<!-- Delivery Form Scripts -->
<!-- <script src="assets/vendor/simple-forms/{% static '' %}assets/js/simple-forms-translations.js"></script> -->
<!-- <script src="assets/vendor/simple-forms/{% static '' %}assets/js/simple-forms.min.js"></script> -->
<!-- <script src="assets/{% static '' %}assets/js/form.js"></script> -->







{% block javascript %}
{% endblock %}
